html,
body {
  width: 100%;
  height: 100%;
  font: 14px/1.5 -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  color: #4A4A4A;
  /*background-color: #EDF2F6;*/
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

html {
  overflow-y: hidden;
}


/*-----------------------------*\
    $ 样式重置 reset
\*-----------------------------*/

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before, q:after{content:' ';}
abbr,acronym{border:0;}
a {text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
textarea { outline: none; resize: none; }

.none { display: none; }
.ellipsis{
  white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;
}
.clearfix:after {display: block; content: ""; clear: both;}


/*-----------------------------*\
    $ 基本字体大小
\*-----------------------------*/

[data-dpr="1"] .f12 {
  font-size: 12px;
}
[data-dpr="2"] .f12 {
    font-size: 24px;
}
[data-dpr="3"] .f12 {
  font-size: 36px;
}

[data-dpr="1"] .f14 {
  font-size: 14px;
}
[data-dpr="2"] .f14 {
    font-size: 28px;
}
[data-dpr="3"] .f14 {
  font-size: 42px;
}

[data-dpr="1"] .f15 {
  font-size: 15px;
}
[data-dpr="2"] .f15 {
    font-size: 30px;
}
[data-dpr="3"] .f15 {
  font-size: 45px;
}

[data-dpr="1"] .f16 {
  font-size: 16px;
}
[data-dpr="2"] .f16 {
    font-size: 32px;
}
[data-dpr="3"] .f16 {
  font-size: 48px;
}

[data-dpr="1"] .f17 {
  font-size: 17px;
}
[data-dpr="2"] .f17 {
    font-size: 34px;
}
[data-dpr="3"] .f17 {
  font-size: 51px;
}

[data-dpr="1"] .f18 {
  font-size: 18px;
}
[data-dpr="2"] .f18 {
    font-size: 36px;
}
[data-dpr="3"] .f18 {
  font-size: 54px;
}

[data-dpr="1"] .f20 {
  font-size: 20px;
}
[data-dpr="2"] .f20 {
    font-size: 40px;
}
[data-dpr="3"] .f20 {
  font-size: 60px;
}

[data-dpr="1"] .f21 {
  font-size: 21px;
}
[data-dpr="2"] .f21 {
    font-size: 42px;
}
[data-dpr="3"] .f21 {
  font-size: 63px;
}

[data-dpr="1"] .f24 {
  font-size: 24px;
}
[data-dpr="2"] .f24 {
    font-size: 48px;
}
[data-dpr="3"] .f24 {
  font-size: 72px;
}

[data-dpr="1"] .f25 {
  font-size: 25px;
}
[data-dpr="2"] .f25 {
    font-size: 50px;
}
[data-dpr="3"] .f25 {
  font-size: 75px;
}

[data-dpr="1"] .f28 {
  font-size: 28px;
}
[data-dpr="2"] .f28 {
    font-size: 56px;
}
[data-dpr="3"] .f28 {
  font-size: 84px;
}

[data-dpr="1"] .f32 {
  font-size: 32px;
}
[data-dpr="2"] .f32 {
  font-size: 64px;
}
[data-dpr="3"] .f32 {
  font-size: 96px;
}

[data-dpr="1"] .f36 {
  font-size: 36px;
}
[data-dpr="2"] .f36 {
  font-size: 72px;
}
[data-dpr="3"] .f36 {
  font-size: 108px;
}

[data-dpr="1"] .f40 {
  font-size: 40px;
}
[data-dpr="2"] .f40 {
    font-size: 80px;
}
[data-dpr="3"] .f40 {
  font-size: 120px;
}

[data-dpr="1"] .f45 {
  font-size: 45px;
}
[data-dpr="2"] .f45 {
    font-size: 90px;
}
[data-dpr="3"] .f45 {
  font-size: 135px;
}

[data-dpr="1"] .f50 {
  font-size: 50px;
}
[data-dpr="2"] .f50 {
    font-size: 100px;
}
[data-dpr="3"] .f50 {
  font-size: 150px;
}

[data-dpr="1"] .f55 {
  font-size: 55px;
}
[data-dpr="2"] .f55 {
    font-size: 110px;
}
[data-dpr="3"] .f55 {
  font-size: 165px;
}

[data-dpr="1"] .f60 {
  font-size: 60px;
}
[data-dpr="2"] .f60 {
    font-size: 120px;
}
[data-dpr="3"] .f60 {
  font-size: 180px;
}
